body {
    padding-top: 5rem;
    
}
.container{
    /* display: flex;
    justify-content: center; */
    width: 65%;
    /* border: solid 2px black; */
}
.borderer{
    border: solid 3px rgb(170, 180, 180);
    border-radius: 8px;
}

.everything{
    padding: 3%;
}


.profile_picture{
    background-color: rgb(111, 204, 114);
    /* border-radius: 15px; */
    padding-top: 35px;
    
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid, white;
    border-radius: 100px;
    width: 200px; 
    height: 200px;
    box-shadow: 2px 2px 2px grey;
}

h3{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1.5px 1.5px 1.5px grey;
}

h6{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1.5px 1.5px 1.5px grey;
}

h5{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1.5px 1.5px 1.5px grey;
}



p{
    text-align: left;
}

.biograph{
    padding-top: 2%;
}

.biograph p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 153, 153);
    width: 80%;
    margin: auto;
    
    
}

.profile_data{
    display: flex;
    justify-content: space-evenly ;
    padding-top: 8%;
    
}
.profile_data div{
    margin: 3px;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_data p:nth-child(1){
    font-weight: bold;
}

.profile_data p:nth-child(2){
    color: rgb(153, 153, 153);
}

/*ul{
    text-align: center;
    padding-top: 10px;
    padding-right: 50px;
} */

tr{
    text-align: center;
}

.button{
    padding-top: 10%;
    display: flex; 
    justify-content: center;
}

button{
    
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    font-size: 24px;
    padding: 14px, 40px;
    background-color: #81D319;
    color: whitesmoke;
    width: 30%;
}