{% extends "base.html" %}

{% block main%}
<h1>Profile</h1>


<div class="row1">
        <div class="profile_picture">
            <img src="{{url_for('static', filename= 'static/images/liz.jpg')}}" width="200" height="200" alt="Princess Elizabeth"/>
            <h3> hkgfclbakjdskc </h3>
            <h4>@hgdsbfkjs</h4>
        </div>

        <div class="biograph">
            
        </div>
</div>

<div class = "button">
    <button type="button" name="Follow">Follow</button>
</div>

{% endblock %}